html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 90, 168);
  font-family: Exo, sans-serif !important;
  overflow: hidden;
}

.App, #root{
  width: 100%;
  height: 100%;
}

button, input, span, div{
  font-family: Exo, sans-serif !important;
}

/*CONTROLLERS*/

/*Textfield*/

.py_textfield input{
  color: white;
}

.py_textfield .MuiFormLabel-root{
  color: white !important;
}

.py_textfield .MuiOutlinedInput-notchedOutline{
  border: 1px solid white;
}

.py_textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px white solid;
}
@media(hover: none){
  .py_button .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
}
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

/*Button*/

.py_button{
  background-color: white !important;
  width: 125px;
  height: 50px;
  border-radius: 25px !important;
  font-weight: 600 !important;
  font-size: 16px;
}

.py_button .MuiButton-label{
  color: rgb(100, 90, 168);
}


.login_template{
  text-align: center;
  padding-top: 25%;
  letter-spacing: 9px;
}

.login_logo_title{
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.login_logo_subtitle{
  font-size: 20px;
  color: white;
  display: block;
  letter-spacing: 5px;
}

.login_form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form > *{
  margin-top: 30px !important;
}

.login_signup_text{
  color: white;
  letter-spacing: 1px;
  display: block;
  font-size: 11px;
  margin-top: 17px;
}

.login_signup_text span{
  text-decoration: underline;
  cursor: pointer;
}

.login_shapes{
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  border-radius: 50%;
}

.login_shapes.first_shape{
  top: -160px;
  width: 400px;
  height: 300px;
  right: -180px;
}

.login_shapes.second_shape{
  bottom: -160px;
  width: 500px;
  height: 270px;
  left: -180px;
}

.browse_pet{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.browse_pet_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.browse_pet_container button{
  margin-top: 100px;
}

.browse_pet_welcome{
  color: rgb(100, 90, 168);
  font-size: 24px;
  font-weight: 600;
  display: block;
}

.browse_pet_label{
  color: rgb(100, 90, 168);
  display: inline-block;
  margin-top: 60px;
  font-size: 21px;
  margin-bottom: 70px;
  font-weight: 300;
}

.browse_pet_boxes_container{
  max-height: 400px;
  overflow: auto;
}

.browse_pet_boxes{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.pet_box{
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: rgb(100, 90, 168);
  font-size: 12px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: inset 0 0 2px;
  user-select: none;
  text-align: center;
  position: relative;
}

.pet_box > img{
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.pet_box_adding{
  background-color: transparent;
  box-shadow: inset 0 0 2px rgb(100, 90, 168);
  line-height: 120px;

}

.pet_box_adding:before{
  content: "+";
  font-size: 75px;
  color: rgb(100, 90, 168);
}

.pet_box_name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

@media only screen and (max-height: 600px) {
  .first_shape, .second_shape {
    display: none;
  }
}
